/* Variable */

$black: #000;
$white: #fff;


/* Skip link */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: $black;
  color: $white;
  padding: 8px 16px;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
}

/* Skip link */
@mixin Flexbox($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}



section{
  height: 100dvh;
  background-color: #000;
}



.box-to-observe-top {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.box-to-observe-top.active {
  opacity: 1;
  transform: translateY(0);
}

.box-to-observe-bottom {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.6s ease-out;
}

.box-to-observe-bottom.active {
  opacity: 1;
  transform: translateY(0);
}