@import "stylesheet/mixin";
@import "stylesheet/variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
  word-break: break-word;
}

html,
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  font-weight: 400;
  background-color: $white;
  color: $black;
}
body {
  margin: 0;
}
::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
  overflow-x: hidden;
}
ul,
ol {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
    cursor: pointer;
  &:active {
  }

  &:hover {
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.outer-section {
  background-color: $dodgeblue;
  height: 100dvh;
  @include Flexbox(row, center, center);
}
aside {
  flex: 1 1 100%;
  max-width: 15%;
  padding: 3rem 0 1rem 1rem;
  height: 100%;
  @include Flexbox(column, start, end);
  gap: 1rem;
  a {
    padding: 10px;
    color: $white;
    border-radius: 2.25rem 0 0 2.25rem;

    &.active {
      color: $dodgeblue;
      background-color: $white;
      position: relative;
      &:before {
        content: "";
        width: 15px;
        height: 15px;
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: -15px;
        background-color: $dodgeblue;
        border-radius: 0% 50% 0% 0%;
        box-shadow: 5px -5px 0px 0px $white;
      }
      &:after{
            content: "";
            width: 15px;
            height: 15px;
            display: inline-block;
            position: absolute;
            right: 0;
            top: -15px;
            background-color: $dodgeblue;
            border-radius: 0 0 50%;
            box-shadow: 5px 5px 0px 0px $white;
      }
    }
  }
}

.tab-section {
  flex: 1 1 100%;
  background-color: $white;
  height: 100%;
  height: calc(100% - 1.5rem);
  width: calc(100% - 1.5rem);
  max-width: 84%;
  border-radius: 1rem;
}

.file-list-section{
    width: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: $white;
    padding: 10px;
    ul{
        li{
             @include Flexbox(row, space-between, center);
             padding: 0.4rem 0;
            font-size: 14px;
        }
    }
    i{
    color: $dodgeblue
}
}
.file-list-header{
      @include Flexbox(row, space-between, center);
      border-bottom: 1px solid $dodgeblue;
      padding-block: 0.5rem;
}
