$primary-font: "Work Sans";
$secondary-font: "Sriracha";

$black: #000;
$white: #fff;
$red: #ff2e3b;
$grey: #767676;
$blue: #4479ff;
$dodgeblue: #2387e1;
$dodgeblueshade: #93cbff;
$dark-grey: #333;
$grey1: #f5f5f5;
$black1: #222222;
$black2: #323232;
$black3:#0f0f0f;
$black4:#262626;
$green: #68d7ac;
$green2:#39ff14;
$green3:#05180a;
$green4:#135725f7;
$grey2: #00181f;
$grey3: #373737;
$grey4: #191b18;

